.create-form-build {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  & > div {
    height: 100%;
    overflow-y: auto;
  }
  & > .left-block {
    width: 300px;
    border-right: 1px solid #ddd;
  }
  & > .center-block {
    width: ~"calc(100% - 660px)";
  }
  & > .right-block {
    width: 360px;
    border-left: 1px solid #ddd;
  }
}
