.create-form-center-view {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 18px;
  .create-form-item-view {
    padding: 12px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.3;

    &.active,
    &:hover {
      background-color: #f8f8f8;
    }
    &.active {
      border: 1px solid #1890ff;
    }
    div[class$="-form-item"] {
      margin: 0;
    }
  }
}
