.form-block-body {
  &.active,
  &:hover {
    background-color: #f8f8f8;
  }
  &.active {
    border: 1px solid #1890ff;
  }
  &,
  div,
  label {
    cursor: move;
  }
  .form-block-content {
    &.drop {
      border-color: #1890ff;
    }
  }
}
