// 以下为bpmn工作流绘图工具的样式
@import "bpmn-js/dist/assets/diagram-js.css"; // 左边工具栏以及编辑节点的样式
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css";
@import "bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css";
a.bjs-powered-by {
  display: none;
}
#bpmn-view {
  width: 100vw;
  height: 100vh;
  position: relative;
  color: #333;

  &,
  * {
    box-sizing: border-box;
  }

  @import "./components/Tools/index.less";
  @import "./components/Toolbar/index.less";

  svg.new-parent {
    background: none !important;
  }

  .djs-container {
    background-image: linear-gradient(
        90deg,
        hsla(0, 0%, 78.4%, 0.15) 10%,
        transparent 0
      ),
      linear-gradient(hsla(0, 0%, 78.4%, 0.15) 10%, transparent 0);
    background-size: 10px 10px;
  }
}
